:root {
  --main1: #424242;
  --main2: #FAFAFA;
  --accent1: #06191D;
}

html, body {
  background-color: var(--main1);
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', sans-serif;
}

.header {
  text-align: left;
  background-color: var(--accent1); 
}

.transition {
  background-color: var(--accent1);
  font-size: 3rem;
}

#title {
  padding-top: 10%;
  padding-bottom: 0%;
  padding-left: 15%;
  color: whitesmoke;
  font-size: 1000%;
}

#subtitle {
  padding-left: 15%;
  padding-bottom: 10%;
  padding-top: 0%;
  color: var(--main1);
}

.sub {
  padding-top: 17%;
  color: var(--main1);
  padding-bottom: 0%;
  padding-left: 15%;
}

.icon1 {
  font-size: 13rem;
  color: whitesmoke;
  padding-left: 15%;
}

.icon2 {
  font-size: 5rem;
  color: whitesmoke;
  padding-left: 7.5%;
}

.icon3 {
  font-size: 13rem;
  color: whitesmoke;
  padding-left: 7.5%;
  padding-right: 7.5%;
}


#display {
  overflow-y: hidden;
}

#left {
  margin-top: 1vh;
  direction: rtl;
  background-color: var(--main1);
  height: 99vh;
  color: var(--main2);
  overflow-y: scroll;
}

#left::-webkit-scrollbar {
  width: 1vh;
  background-color: #6665;
}

#left::-webkit-scrollbar:hover {
  width: 1vh;
  background-color: #666;
}

#left::-webkit-scrollbar-thumb {
  background-color: #4445;
  border-radius: 100%;
}

#left::-webkit-scrollbar-thumb:hover {
  background-color: #444;
  border-radius: 100%;
}

#right {
  margin-top: 1vh;
  background-color: var(--main2);
  height: 99vh;
  overflow-y: scroll;
  border-radius: 25px 25px 0px 0px;
  color: var(--main1);
}

#right::-webkit-scrollbar {
  width: 1vh;
  background-color: #6665;
}

#right::-webkit-scrollbar:hover {
  width: 1vh;
  background-color: #666;
}

#right::-webkit-scrollbar-thumb {
  background-color: #4445;
  border-radius: 100%;
}

#right::-webkit-scrollbar-thumb:hover {
  background-color: #444;
  border-radius: 100%;
}
